.row{
    background-color: rgba(230, 178, 178, 0.986);
}
footer{
    color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 6px #999;
}