<div class="row">
    <h1>Hard & Soft Skilss</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=" '../assets/html5.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]=" '../assets/css.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#506000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]=" '../assets/javascript.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="100"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]=" '../assets/java.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="100"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=" '../assets/gitt.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]=" '../assets/.png' "
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=" '../assets/.png' "
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#78C000' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=" '../assets/.png' "
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]=" '#dc3580' "
            [innerStrokeColor]=" '#C7E596' "
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>