.row{
    padding: 20px;
}

div{
    background-color:  rgba(230, 178, 178, 0.986);
    text-align: center;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 400px;
    }
}

@media (max-width: 575px){
     #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 30%;
        top: 550px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}